
@media only screen  and (min-width: 0px){

/* Imagem de fundo da aba Contato */

.backgroundcontato{

background-image: url("../images/backgroundcontato.jpg");
width:100%;
height:100%;
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}

/* Título Contato Profissional */

.backgroundcontato h1{

padding-top: 80px;
color:white;
font-size: 3em;
margin-left: 20%;

font-family: 'Six Caps', sans-serif;
}

/* Formulário de Contato */

.formcontato{

padding-top: 130px;
color:white;

}

/* Inputs do Formulário de Contato */

.formcontato input{

width: 55%;
box-sizing: border-box;
display: inline-block;
float:right;
margin-right:10%;
border-radius:5px;
border: none;

}

/* Input de informação do Formulário de Contato */

.textbox{

    width: 55%;
    height: 100px;
    Resize:none;
    box-sizing: border-box;
    display: inline-block;
    float:right;
    margin-right:10%;
    border-radius:5px;
    border: none;

}

/* Botão de enviar do  Formulário de Contato */

.formcontato input[type="submit"]{

    width:20%;
    margin-right:28%;
    background-color:rgb(255,222,89);
    border: none;
    border-radius:5px; 
    font-family: 'Arapey', serif;
    
}

/* Nomes de cada input do  Formulário de Contato */

.formcontato label{

    margin-left:20px;
    display: inline-block;
    float: left;
    clear: left;
    text-align: right;
    font-family: 'Arapey', serif;

}

/* ícone para voltar para a home da aba Contato*/

.backgroundcontato i{
    
    display:flex;
    justify-content: center; 
    color:rgb(255,222,89);
    font-size:30px;
    opacity:0.6;
    margin-top : 25%;
    
       
}

}

@media only screen  and (min-width: 360px){

/* Título Contato Profissional */

    .backgroundcontato h1{

        margin-left: 38%;
    
        }

}

@media only screen  and (min-width: 500px){

/* Título Contato Profissional */

    .backgroundcontato h1{

        margin-left: 42%;
    
        }

/* ícone para voltar para a home da aba Contato*/

        .backgroundcontato i{

            font-size:40px;

        }

}

@media only screen  and (min-width: 700px){

/* Título Contato Profissional */

        .backgroundcontato h1{

        padding-top: 15%;
        font-size: 4em;
        
        margin-left: 5%;
        
        }

/* Formulário de Contato */

        .formcontato{

            padding-top: 50px;
            color:white;
            
            }

/* Inputs do Formulário de Contato */

        .formcontato input{

            width: 35%;
            box-sizing: border-box;
            display: inline-block;
            float:right;
            margin-right: 4%;
            border-radius:5px;
            border: none;
            
            }

/* Botão de enviar do  Formulário de Contato */            
            
        .formcontato input[type="submit"]{
            
            width:20%;
            background-color:rgb(255,222,89);
            border: none;
            margin-right: 10%;
            border-radius:5px; 
            font-family: 'Arapey', serif;
                
            }
            
/* Nomes de cada input do  Formulário de Contato */            
            
        .formcontato label{
            
            margin-left:20px;
            display: inline-block;
            margin-left:47%;
            float: left;
            clear: left;
            text-align: right;
            font-family: 'Arapey', serif;
            
            }

/* Input de informação do Formulário de Contato */            

        .textbox{

            width: 35%;
            height: 100px;
            margin-right: 4%;
            }

}

@media only screen  and (min-width: 1000px){

/* Título Contato Profissional */

    .backgroundcontato h1{

        padding-top: 15%;
        font-size: 7em;
        margin-left: 5%;
        
        }

/* Formulário de Contato */        

    .formcontato{

        margin-top: -24%;
        color:white;
            
            }

/* Botão de enviar do  Formulário de Contato */            

    .formcontato input[type="submit"]{
            
        width:15%;
        margin-right: 13%;
             
            }

/* Hover do botão de enviar do  Formulário de Contato */            

        .formcontato input[type="submit"]:hover{

          background-color:rgb(231, 217, 160);
          padding:3px;  

        }   

/* ícone para voltar para a home da aba Contato*/

        .backgroundcontato i{
    
            display:flex;
            justify-content: center; 
            color:rgb(255,222,89);
            font-size:40px;
            opacity:0.6;
            margin-top : 10%;
                
                   
            }

/* Input de informação do Formulário de Contato */             

            .textbox{

                width: 35%;
                height: 100px;
                Resize:none;
                box-sizing: border-box;
                display: inline-block;
                float:right;
                margin-right:4%;
                border-radius:5px;
                border: none;
            
            }

}