@media only screen  and (min-width: 0px){

    html {
        scroll-behavior: smooth;
      }

.backgroundhome{

background-image: url("../images/backgroundhome.jpg");
width:100%;
height:100%;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.navbar-toggler{

     padding: .25rem .50rem; 
     font-size: 1rem; 

}

.backgroundhome h1{
    
    display: flex ;
    justify-content: center ; 
    font-family: 'Six Caps', sans-serif;
    font-size: 2em ;
    width: 43% ;
    margin-right:30px;
    margin-left:37px;
    
}

.logo{

width: 50px;
height: 50px;


}

 .textodahome{

    display:flex;
    flex-direction: column;
    
    margin-top:30%;
    margin-left: 40%;
    margin-bottom:10%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1em;

} 

.backgroundhome .carousel-indicators{

    bottom: -50px; 

}

.backgroundhome .carousel{

    width: 60%;
    background-color: #f8f9fab7;
    border-radius: 0 10px 10px 0;
    margin-top: 40%;

}


.backgroundhome .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,222,89)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    
   }
   
   .backgroundhome .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,222,89)' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
     
   }

.icons{


display: flex;
justify-content: space-between;
margin-top: 20%;
margin-bottom: 5%;
margin-left: 5%;
margin-right: 5%;


}

 .fab{

    font-size:20px;
    color:white;

}

}

@media only screen  and (min-width: 500px){

        .backgroundhome h1{
    
            display: flex ;
            justify-content: center ; 
            font-family: 'Six Caps', sans-serif;
            font-size: 3em ;
            width: 43% ;
            margin-right:30px;
            margin-left:50px;
            
        }
        
        .logo{

            width: 90px;
            height: 90px;
            
            
            }

       
            .textodahome{

                display:flex;
                flex-direction: column;
                
                margin-top:15%;
                margin-left: 55%;
                margin-bottom:4%;
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                font-size: 1em;
            
            } 

            
       
        .backgroundhome .carousel{
        
            width: 40%;
            background-color: #f8f9fab7;
            border-radius: 0 10px 10px 0;
            margin-top: 6%;
        
        }

        .backgroundhome .icons{


            display: flex;
            justify-content: space-between;
            margin-top: 15%;
            margin-bottom: 20%;
            margin-left: 5%;
            margin-right: 5%;
            
            
            }

         .fab{
        
            font-size:25px;
            color:white;
        
        }
        

}

@media only screen  and (min-width: 1000px){

    .backgroundhome h1{
    
        display: flex ;
        justify-content: center ; 
        font-family: 'Six Caps', sans-serif;
        font-size: 3em ;
        width: 43% ;
        margin-left:260px;
        
    }

    .textodahome{

        font-size: 1.5em;
        margin-top:10%;
        margin-left: 50%;
        margin-bottom:4.5%;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        
    } 



    .backgroundhome .carousel{

        width: 35%;
        background-color: #f8f9fab7;
        border-radius: 0 10px 10px 0;
        margin-top: 10%;
        
    
    }
    .backgroundhome .icons{

        margin-top:-1px;
        margin-left: 60%;
        margin-right: 5%;
       
        
        }

        .fab{

            font-size:30px;
            color:white;
        
        }
}