@media only screen  and (min-width: 0px){

.flexbox{

display:flex;
justify-content: center;


}

.backgroundhome{

background-image: url("../images/backgroundhome.jpg");
width:320px;
height:568px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.navbar-brand{

    display: flex !important;
    justify-content: space-between ;
    font-family: 'Six Caps', sans-serif;
    font-size: 1em;
    width: 55% ;

}

.textodahome{

    display:flex;
    flex-direction: column;
    float: right;
    margin-top:30%;
    margin-right: 5%;
    margin-bottom:10%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.8em;

}

.gambiarra{

height:200px;

}

}