
@media only screen  and (min-width: 0px){


  

     .imagem1{

        background-image: url("../images/backgroundsobre.jpg");
        width:100%;
        height:600px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color:white;
        

    }

    .imagem1 h1{

        padding-top:60px;
        padding-left:40%;
        font-size:1.8em;
        font-family: 'Six Caps', sans-serif;

    }

    .imagem1 h2{

        padding-top:35px;
        padding-right:1%;
        padding-left:1%;
        font-size:0.55em;
        font-family: 'Arapey', serif;

    }

 
    

     .imagem2{

        

        background-image: url("../images/baixo.jpg");
        width:100%;
        height:600px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color:white;

    }

    .imagem2 h1{

        padding-top:40px;
        padding-left:60%;
        font-size:1.8em;
        font-family: 'Six Caps', sans-serif;

    }

    .imagem2 h2{

        
        padding-top:20px; 
        padding-left:27%;
        font-size:0.55em;
        font-family: 'Arapey', serif;

    }

    .imagem2 h3{

        margin-top: -15px;
        padding-left:65%;
        font-size:0.65em;
        font-family: 'Arapey', serif;

    }

    .imagem3{

        

        background-image: url("../images/guitar.jpg");
        width:100%;
        height:600px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color:white;

    }

    .imagem3 h1{

        padding-top:40px;
        padding-left:8%;
        font-size:1.8em;
        font-family: 'Six Caps', sans-serif;

    }

    .imagem3 h2{

        
        padding-left:2%;
        padding-right:63%;
        font-size:0.55em;
        font-family: 'Arapey', serif;

    }

    .imagem3 h3{

        margin-top: -15px;
        padding-left:8%;
        font-size:0.65em;
        font-family: 'Arapey', serif;

    }

    .imagem4{

        

        background-image: url("../images/drums.jpeg");
        width:100%;
        height:600px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color:white;

    }

    .imagem4 h1{

        padding-top:40px;
        padding-left:40%;
        font-size:1.8em;
        font-family: 'Six Caps', sans-serif;

    }

    .imagem4 h2{

        padding-top:40px;
        padding-left:2%;
        padding-right:2%;
        font-size:0.55em;
        font-family: 'Arapey', serif;

    }

    .imagem4 h3{

        margin-top: -15px;
        padding-left:45%;
        font-size:0.65em;
        font-family: 'Arapey', serif;

    }

    .imagem5{

        

        background-image: url("../images/mic.jpg");
        width:100%;
        height:600px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color:white;

    }

    .imagem5 h1{

        padding-top:35px;
        padding-left:40%;
        font-size:1.8em;
        font-family: 'Six Caps', sans-serif;

    }

    .imagem5 h2{

        padding-top:25px;
        padding-left:2%;
        padding-right:2%;
        font-size:0.55em;
        font-family: 'Arapey', serif;

    }

    .imagem5 h3{

        margin-top: -15px;
        padding-left:45%;
        font-size:0.65em;
        font-family: 'Arapey', serif;

    }

    .sobrenos .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,222,89)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        margin-top:500px;
       }
       
    .sobrenos .carousel-control-next-icon {
         background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,222,89)' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
         margin-top:500px;
       }
    
    
    .sobrenos i{
    
        display:flex;
        justify-content: center; 
        color:rgb(255,222,89);
        font-size:30px;
        opacity:0.6;
        margin-top: -80px;
           
    }

}

@media only screen and (min-width: 500px){

    .imagem1 h1{

        padding-top:60px;
        padding-left:45%;
        font-size:2em;
        font-family: 'Six Caps', sans-serif;

    }

    .imagem1 h2{

        padding-top:35px;
        padding-right:1%;
        padding-left:1%;
        font-size:0.8em;
        font-family: 'Arapey', serif;

    }

    .imagem2 h1{

        padding-top:40px;
        padding-left:65%;
        font-size:2em;
        font-family: 'Six Caps', sans-serif;

    }

    .imagem2 h2{

        
        margin-top: -25px; 
        padding-left:48%;
        font-size:0.8em;
        font-family: 'Arapey', serif;

    }

    .imagem2 h3{

        margin-top: -15px;
        padding-left:69%;
        font-size:0.65em;
        font-family: 'Arapey', serif;

    }

    .imagem3 h1{

        padding-top:30px;
        padding-left:8%;
        font-size:2em;
        font-family: 'Six Caps', sans-serif;

    }

    .imagem3 h2{

        
        padding-left:2%;
        padding-right:60%;
        font-size:0.75em;
        font-family: 'Arapey', serif;

    }

    .imagem3 h3{

        margin-top: -15px;
        padding-left:8%;
        font-size:0.65em;
        font-family: 'Arapey', serif;

    }

    .imagem4 h1{

        padding-top:40px;
        padding-left:40%;
        font-size:2em;
        font-family: 'Six Caps', sans-serif;

    }

    .imagem4 h2{

        padding-top:5px;
        padding-left:2%;
        padding-right:2%;
        font-size:0.8em;
        font-family: 'Arapey', serif;

    }

    .imagem4 h3{

        margin-top: -15px;
        padding-left:45%;
        font-size:0.65em;
        font-family: 'Arapey', serif;

    }

    .imagem5 h1{

        padding-top:23px;
        padding-left:40%;
        font-size:2em;
        font-family: 'Six Caps', sans-serif;

    }

    .imagem5 h2{

        margin-top: -30px; 
        padding-left:2%;
        padding-right:2%;
        font-size:0.8em;
        font-family: 'Arapey', serif;

    }

    .imagem5 h3{

        margin-top: -15px;
        padding-left:45%;
        font-size:0.65em;
        font-family: 'Arapey', serif;

    }

    
    .sobrenos .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,222,89)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        height:30px;
        width:30px;
       }
       
       .sobrenos .carousel-control-next-icon {
         background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,222,89)' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
         height:30px;
         width:30px;
       }

       .sobrenos i{

        margin-top: -80px;
        color:rgb(255,222,89);
        font-size:40px;
        opacity:0.6;
   }

}

@media only screen and (min-width: 700px){


    .imagem2{

        

        background-image: url("../images/baixo.jpg");
        width:100%;
        height:600px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        color:white;

    }


    .imagem1 h1{

        padding-top:60px;
        padding-left:70%;
        font-size:4em;
        font-family: 'Six Caps', sans-serif;

    }

    .imagem1 h2{

        margin-top: -15%;
        padding-right:40%;
        font-size:0.85em;
        font-family: 'Arapey', serif;

    }

    .imagem2 h1{

        padding-top:40px;
        padding-left:1%;
        font-size:4em;
        font-family: 'Six Caps', sans-serif;

    }

    .imagem2 h2{

        
        margin-top: -15%; 
        padding-left:48%;
        font-size:0.85em;
        font-family: 'Arapey', serif;

    }

    .imagem2 h3{

        margin-top: -15px;
        padding-left:9%;
        font-size:0.8em;
        font-family: 'Arapey', serif;

    }

    .imagem3 h1{

        padding-top:30px;
        padding-left:10%;
        font-size:4em;
        font-family: 'Six Caps', sans-serif;

    }

    .imagem3 h2{

        
        padding-left:2%;
        padding-right:60%;
        font-size:0.85em;
        font-family: 'Arapey', serif;

    }

    .imagem3 h3{

        margin-top: -15px;
        padding-left:13%;
        font-size:0.8em;
        font-family: 'Arapey', serif;

    }

    .imagem4{

        background-position: right;
    
    }

    .imagem4 h1{

        padding-top:40px;
        padding-left:5%;
        font-size:4em;
        font-family: 'Six Caps', sans-serif;

    }

    .imagem4 h2{

        margin-top: -15%;
        padding-left:55%;
        font-size:0.85em;
        font-family: 'Arapey', serif;

    }

    .imagem4 h3{

        margin-top: -15px;
        padding-left:15%;
        font-size:0.8em;
        font-family: 'Arapey', serif;

    }

    
    .imagem5{

        background-position: right;
    
    }

    .imagem5 h1{

        padding-top:50px;
        padding-left:5%;
        font-size:4em;
        font-family: 'Six Caps', sans-serif;

    }

    .imagem5 h2{

        margin-top: -18%;
        padding-left:55%;
        font-size:0.85em;
        font-family: 'Arapey', serif;

    }

    .imagem5 h3{

        margin-top: -15px;
        padding-left:15%;
        font-size:0.8em;
        font-family: 'Arapey', serif;

    }

    .sobrenos i{

        margin-top: -80px;
        color:rgb(255,222,89);
        font-size:40px;
        opacity:0.6;
   }

}

@media only screen and (min-width: 1000px){

    .imagem1 h1{

        padding-top:60px;
        padding-left:75%;
        font-size:4.5em;
        font-family: 'Six Caps', sans-serif;

    }

    .imagem1 h2{

        margin-top: -9.5%;
        padding-right:40%;
        font-size:1em;
        font-family: 'Arapey', serif;

    }

    .imagem2 h1{

        padding-top:10%;
        padding-left:1%;
        font-size:4.5em;
        font-family: 'Six Caps', sans-serif;

    }

    .imagem2 h2{

        
        padding-top: 6.5%;
        padding-left:50%;
        font-size:1em;
        font-family: 'Arapey', serif;

    }

    .imagem2 h3{

        margin-top: -15px;
        padding-left:5%;
        font-size:1em;
        font-family: 'Arapey', serif;

    }

    .imagem3 h1{

        padding-top:30px;
        padding-left:15%;
        font-size:4.5em;
        font-family: 'Six Caps', sans-serif;

    }

    .imagem3 h2{

        margin-top: 20px;
        padding-left:2%;
        padding-right:60%;
        font-size:1em;
        font-family: 'Arapey', serif;

    }

    .imagem3 h3{

        margin-top: -15px;
        padding-left:17%;
        font-size:1em;
        font-family: 'Arapey', serif;

    }

    .imagem4 h1{

        padding-top:40px;
        padding-left:5%;
        font-size:4.5em;
        font-family: 'Six Caps', sans-serif;

    }

    .imagem4 h2{

        padding-top: 6.5%;
        padding-left:64%;
        font-size:1em;
        font-family: 'Arapey', serif;

    }

    .imagem4 h3{

        margin-top: -15px;
        padding-left:12%;
        font-size:1em;
        font-family: 'Arapey', serif;

    }

    .imagem5 h1{

        padding-top:50px;
        padding-left:5%;
        font-size:4em;
        font-family: 'Six Caps', sans-serif;

    }

    .imagem5 h2{

        padding-top: 11%;
        padding-left:55%;
        font-size:1em;
        font-family: 'Arapey', serif;

    }

    .imagem5 h3{

        margin-top: -15px;
        padding-left:10%;
        font-size:1em;
        font-family: 'Arapey', serif;

    }

    .sobrenos i{

        margin-top: -90px;
        color:rgb(255,222,89);
        font-size:40px;
        opacity:0.6;
   }

}